<app-dish-table></app-dish-table>


<app-main-dash></app-main-dash>










<!-- Exemple de boucle for-->


<!--<div *ngFor="let dog of dogs">
   {{dog.name}} est un {{dog.race}}
</div>



<p *ngFor="let temp of temperatures">
  {{temp}}
</p>-->