<mat-card>
  <mat-card-title>A Table ! </mat-card-title>
  <mat-card-subtitle>On mange bien à ma table, approche !</mat-card-subtitle>
  <img mat-card-image [src]="pizza" alt="Superbe Pizza">
  <mat-card-content>VIens découvrir cette pizza façon Mama mia, dans la pure et le respect de la pure tradition italienne.</mat-card-content>
</mat-card>
